body{
    background-color: rgb(58, 169, 169);
   
}

#body_base{
    background-color: rgb(187, 220, 222);
}



/* .navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

    justify-content: space-evenly;
    
    display: flex;
    align-items: center;
    border-radius: 10px;
    
} */

.navbar{
    height: 55px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.hero-section{
    background-image: url("front_page_helping_hands.jpg");
    height: 450px;
    
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 10px;

    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.container_curr{
    
    display: flex;
    justify-content: space-evenly;
    font-family: monospace;
    font-size: 45px;

}


/* cursor blinking*/

p{
    margin-left: 10px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.head_center{
    display: flex;
    justify-content: space-evenly;
}
















/*new css*/


*{
    margin: 0;
    font-family: Arial;
    
}

.navbar{
    height: 55px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;
}

.nav-logo{
    height: 50px;
    margin-right: 10px;
    width: 130px;
    
}
.border{
    border:2px solid transparent;
    transition: all 0.3s ease;
}
.border:hover{
    transform: scale(1.1);
    
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 13px;

}
.add-second{
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}



.nav-search:hover{
    border: 2px solid orange;
}
/* .search-select{
    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

    
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(255,174,0,0.6);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
} */

.account{
    font-size: 0.7rem;
}

.orders{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart{
    display: flex;
    align-items: center;
}
.cart-icon{

    margin-right: 0.4rem;
    font-size: 25px;
}
.cart-size{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    display: flex;
    height: 35px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops p{
    display: inline;
    margin-left: 15px;

}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;

}

.panel-deals{
    font-size:0.9rem;
    font-weight: 700;
}

.hero-section{
    background-image: url("new_hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
a {
    color: white; /* Set the color to white */
    text-decoration: none; /* Remove underline */
}
a:hover {
    color: white; /* Maintain white color on hover */
    text-decoration: none; /* Prevent underline on hover */
}
.hero-mssg{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;  /*vertically center me lane ke liye*/
    justify-content: center; /*horizontally center me lane ke liye*/
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

    
}




ul{
    margin-top: 10px;
}
