<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>  
    <link rel="stylesheet" href="{% static 'simplesocial/index.css' %}">
</head>
<body>
    
    {% if user.is_authenticated %}
    
    <div class="navbar">
        <div class="nav-cart border">
            <div class="cart-icon">
                <i class="fa-solid fa-pencil-alt"></i>
            </div>
            <a href="{% url 'posts:create' %}">Post</a>
        </div>
    
        <div class="nav-cart border">
            <div class="cart-icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <a href="{% url 'groups:all' %}">Groups</a>
        </div>
    
        <div class="nav-cart border">
            <div class="cart-icon">
                <i class="fa-regular fa-square-plus"></i>
            </div>
            <a href="{% url 'groups:create' %}">Create Groups</a>
        </div>
    
        <div class="nav-cart border">
            <div class="cart-icon">
                <i class="fa-solid fa-sign-out-alt"></i>
            </div>
            <!-- Logout Form -->
            <form id="logout-form" action="{% url 'accounts:logout' %}" method="post" style="display: none;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Log out</a>
        </div>
    </div>
    
    {% else %}

    <div class="navbar"> 

        <div class="nav-cart border">
            <div class="cart-icon">
            <i class="fa-solid fa-user-group"></i>
            </div>
            <a href="{% url 'groups:all' %}">Groups</a>
        </div>

        <div class="nav-cart border">
            <div class="cart-icon">
                <i class="fa-solid fa-info"></i>
            </div>
            <a href="{% url 'aboutUs' %}">About Us</a>
        </div>

        <div class="nav-cart border">
            <div class="cart-icon">
                <i class="fa-solid fa-right-to-bracket"></i>
            </div>
            <a href="{% url 'accounts:login' %}" style="text-decoration:none">Login</a>
        </div>

        <div class="nav-cart border">
            <div class="cart-icon">
            <i class="fa-solid fa-user-plus"></i>
            </div>
            <a href="{% url 'accounts:signup' %}">Sign Up</a>
        </div>
    
</div>

{% endif %}















    <div class="panel">
        <!-- <div class="panel-all">
            <i class="fa-solid fa-bars"></i>
            All
        </div>
        <div class="panel-ops">
            <p>Today's Deals</p>
           <p>Customer Service</p>
           <p>Registry</p>
           <p>Gift Cards</p>
           <p>Sell</p>
        </div>
        <div class="panel-deals-deals">
            Shop Deals in Electronics

        </div> -->
        <div id="scroll-text">Welcome to EduGroup, where students connect, ask, and learn with ease.</div>

    </div>

    <div class="hero-section" style="background-image: url('{% static 'new_hero_image.jpg' %}')">
    </div>

    <div class="shop-section">
        <div class="box1 box">
            <div class="box-content">
                <h2>Authenticated Students</h2>
                <div class="box-image" style="background-image: url('{% static 'login.jpeg' %}')"></div>
                <p style="color:  #007185">See more</p>
            </div>
        </div>
        <div class="box2 box">
            <div class="box-content">
                <h2>Easy Collaboration</h2>
                <div class="box-image" style="background-image: url('{% static 'group.jpg' %}')"></div>
                <p style="color:  #007185">See more</p>
            </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2>User-Friendly UI/UX</h2>
                <div class="box-image" style="background-image: url('{% static 'user_friendly.jpeg' %}')"></div>
                <p style="color:  #007185">See more</p>
            </div>
        </div>
       
    </div>

    <div class="shop-section">
        <div class="box4 box">
            <div class="box-content">
                <h2>No Writting Accessories Required</h2>
                <div class="box-image" style="background-image: url('{% static 'video_solutions.png' %}')"></div>
                <p style="color:  #007185">See more</p>
            </div>
        </div>
        <div class="box1 box">
            <div class="box-content">
                <h2>Question Posting and Discussion</h2>
                <div class="box-image" style="background-image: url('{% static 'post.jpeg' %}')"></div>
                <p style="color:  #007185">See more</p>
            </div>
        </div>
        <div class="box2 box">
            <div class="box-content">
                <h2>Scalability and Future Development</h2>
                <div class="box-image" style="background-image: url('{% static 'Scalability.png' %}')"></div>
                <p style="color:  #007185">See more</p>
            </div>
        </div>
        
    </div>

    <div class="foot-panel1">
        Back To Top
    </div>
    <div class="foot-panel2">

        <ul>
            <p>Get to Know Usk</p>
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
        </ul>

        <ul>
            <p>Get to Know Usk</p>
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
        </ul>

        <ul>
            <p>Get to Know Usk</p>
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
        </ul>

        <ul>
            <p>Get to Know Usk</p>
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
        </ul>
    </div>
    
</body>
</html>